<div class="col-lg-3 order-lg-first">
    <div class="side-custom-menu">
        <h2>CATEGORIES</h2>

        <div class="side-menu-body">
            {% load mptt_tags %}
            {% recursetree category %}
                <li class="dropdown side-dropdown" >
                    <a href="/category/{{ node.id }}/{{ node.slug }}"  {% if not node.is_leaf_node %} class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" {% endif %} >{{ node.title }}</a>
                    <div class="custom-menu" >
                        <div class="row" >
                            <div class="col-md-4">
                                {% if not node.is_leaf_node %}
                                    <ul class="list-links">
                                        <li><a href="/category/{{ node.id }}/{{ node.slug }}" >
                                            {{ children }}
                                        </a>

                                        </li>

                                    </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>


                </li>
            {% endrecursetree %}

            <a href="#" class="btn btn-block btn-primary">HUGE SALE - <strong>70%</strong> Off</a>
        </div><!-- End .side-menu-body -->
    </div><!-- End .side-custom-menu -->
</div><!-- End .col-lg-3 -->
