{% extends "homebase.html" %}

{% block title %} Shop Cart  {% endblock %}
{% block keywords %} {{ categorydata.keywords }} {% endblock %}
{% block description %} {{ categorydata.description }} {% endblock %}

{% block head %} <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' /> {% endblock %}



{% block content %}
    <div class="container">
        <div class="row">

            <p style="margin-bottom: 40px;">Siparişiniz Tamamlandı.İyi Günlerde Kullanın...</p>
        </div><!-- End .row -->


    </div><!-- End .container -->



{% endblock %}

